# IntelliJ
##################
.idea/
*.iml

# Android
##################
gen-external-apklibs/
gen/

# Mac
##################
.DS_Store

# maven
##################

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

